<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Oracle数据库连接的三个参数-->
    <add key="Oracle_DataSource" value="Orcl"/>
    <add key="Oracle_User" value="atp"/>
    <add key="Oracle_PassWord" value="1"/>
    <!--SDE数据库连接的六个参数-->
    <add key="SDE_Server" value="118.244.233.209"/>
    <add key="SDE_Instance" value="sde:oracle11g:orcl:BDCYXT"/>
    <add key="SDE_Database" value="orcl"/>
    <add key="SDE_User" value="bdcyxt"/>
    <add key="SDE_Password" value="bdcyxt"/>
    <add key="SDE_Version" value="BDCYXT.DEFAULT"/>
    <!--地籍区表名-->
    <add key="DJQTableName" value="BDCYXT.DJQ"/>
    <!--地籍子区表名-->
    <add key="DZJQTableName" value="BDCYXT.DJZQ"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>